<!doctype html>
<html lang="en">
    <head>
        {{ template "base-head" }}
        <title>Panera</title>
    </head>
    <body>
        {{ template "header" }}
        <main role="main">
            <section class="jumbotron">
                <div class="container">
                    <h3><a href="/emulator">Emulator</a></li></h3>
                    <h3><a href="/users">Users</a></li></h3>
                </div>
            </section>
        </main>
        {{ template "js" }}
    </body>
</html>
