PORT=9542
WEBHOOK_URL=
BOT_TOKEN=

# Mongo
MONGODB_URI=mongodb://localhost:27017/panera
REDIS_URL=redis://localhost:6379

# Telegram ID
MASTER_ID=1234567890
SQUAD_ID=1234567890
BIRTHDAY_ID=1234567890

# Basic Auth
USERNAME=panera
PASSWORD=panera
